<ul [class]="rootClass()" [attr.aria-label]="ariaLabel() || null">
  @if (virtual()) {
    @if (virtualWindow().padStart > 0) {
      <div
        class="el-list__spacer"
        [style.height.px]="virtualWindow().padStart"
        aria-hidden="true"
      ></div>
    }
    @if (itemTemplate(); as template) {
      @for (item of visibleItems(); track item.id) {
        <ng-container
          [ngTemplateOutlet]="template"
          [ngTemplateOutletContext]="{
            $implicit: item.row,
            index: item.index,
            last: item.last,
          }"
        />
      }
    }
    @if (virtualWindow().padEnd > 0) {
      <div
        class="el-list__spacer"
        [style.height.px]="virtualWindow().padEnd"
        aria-hidden="true"
      ></div>
    }
  } @else {
    <ng-content />
  }
</ul>
<div class="el-list__defs">
  <ng-content select="ng-template[elListItemDef]" />
</div>
